.login{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    background-color: #2a3758;
    height: 100vh;
    width: 100vw;

}
.l-card{
   margin-top: 4rem;
   width: 25rem;
   height: 25rem;
   font-weight: bold;
   text-align: center;
}
.l-card-header{
    font-size: 2rem;
    
}
.form{
    margin-top: 1rem;
}
.form label{
    text-align: start;
    margin-bottom: 0.5rem;
}
.form button{
    margin-top: 1rem;
}