.secretkey{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3758;
    height: 100vh;
    width: 100vw;

}
.s-card{
   margin-top: 5rem;
   width: 25rem;
   height: 15rem;
   font-weight: bold;
   text-align: center;
}
.card-header{
    font-size: 2rem;
    
}
.secret-body{
    flex-direction: row;
}
.s-form{
    margin-top: 0.5rem;
}
.s-form label{
    text-align: start;
    margin-bottom: 0.5rem;
}
.s-form button{
    margin-top: 1rem;
}